<div layout-margin sng-if="selectionCtrl.selection.type === 'light'">
    {{selectionCtrl.r}}
    <div layout layout-align="center center">
        <div flex="10">R</div>
        <md-slider flex class="md-primary" aria-label="!" ng-model="selectionCtrl.object.color.r" min="0" max="255"></md-slider>
        <div layout-padding flex="10">{{selectionCtrl.object.color.r}}</div>
    </div>
    <div layout layout-align="center center">
        <div flex="10">G</div>
        <md-slider flex class="md-primary" aria-label="!" ng-model="selectionCtrl.object.color.g" min="0" max="255"></md-slider>
        <div layout-padding flex="10">{{selectionCtrl.object.color.g}}</div>
    </div>
    <div layout layout-align="center center">
        <div flex="10">B</div>
        <md-slider class="md-primary" aria-label="!" flex ng-model="selectionCtrl.object.color.b" min="0" max="255"></md-slider>
        <div layout-padding flex="10">{{selectionCtrl.object.color.b}}</div>
    </div>

    <div layout layout-align="center center">
        <div flex="20">Radius</div>
        <md-slider class="md-primary" aria-label="!" flex ng-model="selectionCtrl.object.radius" min="0" max="1024" step="64"></md-slider>
        <div layout-padding flex="10">{{selectionCtrl.object.radius}}</div>
    </div>
    <div layout layout-align="center center">
        <div flex="20">Size</div>
        <md-slider class="md-primary" aria-label="!" flex ng-model="selectionCtrl.object.size" min="0" max="100" step="1"></md-slider>
        <div layout-padding flex="10">{{selectionCtrl.object.size / 100}}</div>
    </div>
    <div layout layout-align="center center">
        <div flex="20">Falloff</div>
        <md-slider flex class="md-primary" aria-label="!" flex ng-model="selectionCtrl.object.falloff" min="0" max="100" step="5"></md-slider>
        <div layout-padding flex="10">{{selectionCtrl.object.falloff / 100}}</div>
    </div>
    <div layout layout-align="center center">
        <div flex="20">Ambient</div>
        <md-slider flex class="md-primary" aria-label="!" flex ng-model="selectionCtrl.object.ambient" min="0" max="100" step="5"></md-slider>
        <div layout-padding flex="10">{{selectionCtrl.object.ambient / 100}}</div>
    </div>
</div>